.button {
    width: 200px;
    height: 65px;
    color: #fff;
    border: 2px solid transparent;
    font-size: 16px;
    border-radius: 33px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    z-index: 0;
    &:after {
        content: " ";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -50%;
        top: -50%;
        border-radius: 50%;
        border: 2px solid transparent;
        z-index: -1;
        transition: all .25s ease-in;
    }
}

.button--yellow:after {
    &:after {
        background-color: $color-orange;
    }
}

.button--violet {
    text-transform: uppercase;
    background-color: $color-violet;
    &:after {
        background-color: $color-violet;
    }
}

.button--green {
    text-transform: uppercase;
    background-color: $color-green;
    &:after {
        background-color: $color-green;
        font-size: 18px;
    }
}

.button--textOnMobile {
    width: auto;
    height: auto;
    color: inherit;
    font-size: inherit;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    &:after {
        background: transparent;
    }
}

.button--justFrame {
    border: 1px solid #a1a1a1;
    background: transparent;
    font-size: 18px;
    text-transform: uppercase;
    color: #9f9f9f;
    &:after {
        border-width: 1px;
        transform: translateY(100%);
        background-color: $color-orange;
    }
}


@media (min-width: $desktop--min--width) {
    .button {
        transition: color 0s 0.15s ease-in, font-weight 0s 0.15s ease-in, background-color 0s .25s linear;
        z-index: 1;
        &:hover {
            background-color: transparent;
            font-weight: bold;
            transition: background-color 0s 0s linear;
            &:after {
                transform: translateY(100%);
            }
        }
    }

    .button--justFrame:hover {
        border: 1px solid $color-orange;
        background: transparent;
        color: #fff;
        font-weight: bold;
        &:after {
            transform: none;
        }
    }

    .button--yellow {
        &:hover {
            color: $color-orange;
            border-color: $color-orange;
        }
    }

    .button--green {
        border-color: $color-green;
        &:hover {
            color: $color-green;
        }
    }

    .button--violet {
        border-color: $color-violet;
        &:hover {
            color: $color-violet;
        }
    }

    .button--textOnMobile {
        width: 200px;
        height: 65px;
        color: #fff;
        text-shadow: none;
        font-weight: normal;
        &:after {
            background: $color-orange;
        }
    }

    .button--small {
        height: 50px;
        width: 120px;
        border-radius: 25px;
    }

}
