.logos {
    padding: 30px 0;
}

.logos__cont {
    @include content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
}

.logos__img {
    width: 40%;
    margin: 15px;
}

@media (min-width: $tablet--min--width) {
    .logos {
        padding: 90px 0;
    }

    .logos__cont {
        padding: 0 30px;
        // justify-content: space-around;
    }

    .logos__img {
        width: auto;
        max-width: 250px;
        max-height: 250px;
    }
}

@media (min-width: $desktop--min--width) {
    .logos__cont {
        justify-content: space-around;
    }
}