.logos {
    padding: 30px 0;
}

.logos__cont {
    @include content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logos__img {
    width: 40%;
    margin: 15px;
}

@media (min-width: $desktop--min--width) {
    .logos {
        padding: 60px 0;
    }

    .logos__cont {
        justify-content: space-around;
    }

    .logos__img {
        width: auto;
        max-width: 250px;
        max-height: 250px;
    }
}
