.menu {
    position: fixed;
    top: $navbar-height;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 30px;
    font-size: 1.5rem;
    font-weight: lighter;
    box-shadow: 0px 15px 15px $shadow-light;
    transform: translateX(100%);
    transition: transform .05s ease-out opacity 05s ease-in-out;
    // New animation
    opacity: 0;
    top: 0;
    z-index: -1;
    padding-top: 120px;
    color: #fff;
    background: transparent;
    box-shadow: none;
    &:after {
        content: " ";
        position: absolute;
        right: -50%;
        top: -360px;
        border-radius: 240px;
        width: 160%;
        height: 850px;
        transform: skewY(-15deg) scale(0);
        background-image: linear-gradient(-222deg, #801ae2 0%, #00bf95 100%);
        z-index: -1;
        transition: all .75s cubic-bezier(0.42, 0, 0.21, 1.74);
        transform-origin: 50% 0%;
    }
}

.menu--active {
    transform: translateX(0%);
    opacity: 1;
    // New animation
    &:after {
        transform: skewY(-15deg) scale(1);
        opacity: 1;
    }

    .menu__item {
        transform: none;
        opacity: 1;
    }
}

// Better look when closing and opening menu quickly on mobile - reseting inline styles from menu.js
.resetTransitionDelay {
    transition-delay: 0ms !important;
    transition-duration: 0ms !important;
}

.menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item {
    margin-bottom: 15px;
    // New animation
    transition: all .5s linear;
    transform: translateY(-10px);
    opacity: 0;
}

.menu__item--color {
    // color: $color-green;
}

.menu__link--active {
    pointer-events: none;
}

@media (min-width: $desktop--min--width) {
    .menu {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        z-index: 1;
        opacity: 1;
        &:after {
            display: none;
        }
    }

    .menu--active {
        transform: none;
    }

    .menu__list {
        display: flex;
        align-items: center;
        width: 90%;
        margin-left: auto;
    }

    .menu__item {
        margin: 0 25px;
        animation: menu__itemFadeIn .5s ease-in-out forwards;
    }

    @keyframes menu__itemFadeIn {
        to {
            opacity: 1;
            transform: none;
        }
    }

    .menu__item:last-child {
        margin-left: auto;
        margin-right: 0;
        .menu__link:after {
            display: none;
        }
    }

    .menu__link {
        position: relative;
        &:after {
            content: " ";
            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;
            height: 2px;
            background-color: $color-green;
            transform: scaleX(0);
            transform-origin: center;
            transition: transform .25s cubic-bezier(0, 0, 0.71, 2.19);
        }
        &:hover {
            &:after {
                transform: none;
            }
        }
    }

    .menu__link--active:after {
        transform: none;
    }
}
