.offerGrid {
    position: relative;
    padding: 120px 0 10% 0;
    overflow: hidden;
    &::after {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(to bottom, #f3fafe, #fdfeff);
        z-index: -5;
        border-radius: 50%;
        transform: translateX(-50%) scaleY(.5) scaleX(2) translateY(-45%);
    }
}

.offerGrid__cont {
    @include content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.offerGrid__header {
    font-size: 36px;
    line-height: 1.5em;
    color: $color-black;
    text-align: center;
    margin-top: 0;
    margin-bottom: 75px;
}

.offerGrid__boxesCont {
    display: grid;
    grid-gap: 30px;
}

.offerGrid__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
    box-shadow: 0 0 58px 1px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    background-color: #fff;
}

.offerGrid__icon {
    margin-bottom: 45px;
}

.offerGrid__title {
    font-size: 20px;
    line-height: 1.5em;
    font-weight: bold;
    margin: 0;
}

.offerGrid__boxDesctiption {
    color: $color-gray;
    font-size: 13px;
    line-height: 2em;
    padding: 20px 0;

}

@media (min-width: $tablet--min--width) {
    .offerGrid__boxesCont {
        grid-template: 1fr 1fr /1fr 1fr;
        grid-gap: 15px;
    }
}

@media (min-width: $desktop--min--width) {
    .offerGrid {
        overflow: visible;
        &::after {
            border-radius: 300px;
            left: -15%;
            top: -75%;
            right: -10%;
            bottom: 0;
            transform: rotate(-20deg) translateY(-10%);
        }
    }

    .offerGrid__header {
        font-size: 45px;
        width: 50%;
    }

    .offerGrid__boxesCont {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 30px;
    }

    .offerGrid__box {
        transition: transform .25s ease-in;
        &:hover {
            color: #fff;
            .offerGrid__boxDesctiption {
                color: #fff;
            }
            .offerGrid__icon {
                filter: invert(1) brightness(100);
            }
        }
    }

    .offerGrid__box--green:hover {
        background-color: #25bb07
    }

    .offerGrid__box--orange:hover {
        background-color: #fa8904;
    }


    .offerGrid__box--violet:hover {
        background-color: #4e5ac4;
    }

    .offerGrid__box--black:hover {
        background-color: #000;
    }
}

@media (min-width: $big--desktop--min--width) {
    .offerGrid {
        &::after {
            left: 0;
            transform: rotate(-20deg) translateY(-15%);
        }
    }
}
