.textWithHeader {
    @include content;
    text-align: center;
    margin: 90px auto;
}

.textWithHeader__header {
    font-size: 36px;
}

.textWithHeader__text {
    text-align: justify;
    font-size: 18px;
    line-height: 24px;
}

@media (min-width: $desktop--min--width) {
    .textWithHeader {
        margin: 120px auto;
    }

    .textWithHeader__header {
        font-size: 45px;
        max-width: 585px;
        margin: auto;
        margin-bottom: 45px;
    }
    
    .textWithHeader__text {
        text-align: center;
        font-size: 22px;
        line-height: 40px;
    }
}